#centerwrap { 
     position: absolute;
    top: 0px;
    left: 30%;
  margin-left: -500px; 
    }  

body{
  background-color: #008B8B;
}

h1,p{
  color: blue;
  font-family: "Comic Sans MS";
}

span.hi{
  color:red;
}
