div{
  margin: 0px auto;
  border: 5px solid double white;
  text-align: center;
  background-color: #87CEEB;
}

h1 {
display: inline;
position: relative;
letter-spacing: 8px;
color: rgba(0,0,255,0.5);
  font-size: 100px;
}

p{
  color: #007FFF;
  font-family: "Comic Sans MS";
}

span.hi{
  color: black;
}

#fb{
  display: inline;
  font-size: 30px;
  font-family: "Comic Sans MS";
  
}

#ig{
  display: inline;
  font-size: 30px;
  font-family: "Comic Sans MS";
  padding: 10px 10px 10px 10px;
}

