#header{
    background-image: url(images/view.jpg);
}

body {
  margin: 0px auto;
  border: 5px solid double white;
  text-align: center;
  background-color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

h1 {
  display: inline;
  position: relative;
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 100px;
}

#emily{
    margin-left: 100px;
    margin-right: 40px;
    margin-bottom: 10px;
}

p.about {
    color: black;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-top: 50px;
}
