h1{
  font-family: fantasy;
  color: #671BEB;
}

body{
  font-family: 'MS Comic Sans';
  align-content: center;
  background-color: pink;
}

img{
  align-content: center;
}

div{
  background-color: #b2d9fb;
  border-color: white;
  border-radius: 30px;
}
