#header{
    background-image: url(images/view.jpg);
}

body {
  margin: 0px auto;
  border: 5px solid double white;
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

h1 {
  display: inline;
  position: relative;
  font-family: 'Allura';
  color: black;
  font-size: 100px;
}

img.nebula-logo {
    margin-top: 0px;
    margin-bottom: 10px;
}
div.container{
     width: 700px;
}

p.nebuladescrip p.pokeAPIdescrip {
    margin-top: 10px;
    width: 700px;
}
